// =======================
// Site
// =======================

@use "../root/" as *;

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: $light-gray;
}

body {
  color: $font-color;
  font-family: $font;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $font-size;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

a {
  color: $link-color;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition: color $duration $timing;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $hover-color;
    }
  }
}
.wrapper {
  position: relative;
}
.main,
footer {
  padding: $spacer 5%;
}

.header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30vh;
  position: sticky;
  top:-350px;
  z-index: 20;
  padding-top: 15px;
}

.main{
  z-index: 10;
  //margin-top: $spacer*8;
  //position: absolute;
  //top:-20px;
  // width: 100%;
}

@include media(700) {
  //Balance text wrapping on headings
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  .header {
  height: 50vh;
}
}

@include media(900) {
  .header {
  height: 60vh;
}
  .main,
  footer {
    max-width: 1100px;
    @include center;
    //margin-top: -120px;
  }
  
}

@include media(1300) {
  .header {
  height: 70vh;
}
}

@include media(1900) {
  .header {
  height: 80vh;
}
}
